@{
    ViewData["Title"] = "About Page";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is the About Page for our first ASP.NET Core MVC application</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-warning btn-sm ">Go to Home Page</a>